<div class="flexColRows gutterV">
  <div class="topControls flexRow">
    <div class="contentBox padSm clrP clrBr clrSh3 gutterHTn flexNoShrink">
      <div class="flexVCent walletIconWrap"><%= ob.walletIconTmpl() %></div>
      <span><%= ob.polyT('wallet.title') %></span>
      <a class="jsModalClose tx6 txU"><%= ob.polyT('wallet.closeLink') %></a>
    </div>
    <div class="js-tickerContainer tickerContainer flexHRight"></div>
  </div>
  <div class="flex gutterH">
    <div class="col3">
      <div class="flexColWide gutterV">
        <div class="js-coinNavContainer"></div>
        <div class="js-cryptoListingsTeaser border clrP clrBr clrSh3">
          <%= ob.cryptoTeaserHtml %>
        </div>
      </div>
      <% if (ob.isLocked) { %>
        <div class="flexRow">
          <div class="rowMd">
            <button class="js-addTime" data-seconds="60">+1m</button>
            <button class="js-addTime" data-seconds="300">+5m</button>
            <button class="js-addTime" data-seconds="1800">+30m</button>
            <button class="js-addTime" data-seconds="10800">+3h</button>
            <button class="js-addTime" data-seconds="43200">+12h</button>
          </div>
        </div>
        <div class="flexRow">
          <div class="rowMd padMd">
            <input type="number" class="clrBr clrSh2 js-walletUnlockTimeout" name="name" id="unlockTimeout" value="<%= ob.walletUnlockTimeout %>" min="0">
            <div class="clrT2 txSm helper js-timePeriodHelper"><%= ob.timePeriodHelper %></div>
          </div>
        </div>
        <div class="flexRow">
          <div class="rowMd padMd">
            <input type="password" class="clrBr clrSh2 js-walletPassword" name="name" id="walletPassword" placeholder="<%= ob.polyT('wallet.walletPasswordPlaceholder') %>" data-field-standalone="string">
          </div>
        </div>
        <div class="flexRow">
          <%= ob.processingButton({
            className: 'btn clrP clrBAttGrad clrBrDec1 clrTOnEmph js-unlock',
            btnText: ob.polyT('wallet.walletUnlockButton')
          }) %>
        </div>
      <% } else { %>
        <div class="col3 rowMd padMd">
          <%= ob.processingButton({
            className: 'btn clrP clrBAttGrad clrBrDec1 clrTOnEmph js-lock',
            btnText: ob.polyT('wallet.walletLockButton')
          }) %>
        </div>
      <% } %>
    </div>
    <div class="col9">
      <div class="flexColWide gutterV">
        <% if (ob.activeCoin) { %>
          <div class="js-coinStatsContainer"></div>
          <div>
            <div class="flexColWide clrP clrSh3">
              <div class="js-sendReceiveNavContainer rowMd"></div>
              <div class="js-sendReceiveContainer sendReceiveContainer clrP"></div>
            </div>
          </div>
          <div class="clrP clrSh3 posR">
            <div class="js-transactionsContainer"></div>
            <div class="js-reloadTransactionsContainer reloadTransactions"></div>
          </div>
        <% } else { %>
          <div class="clrP clrSh3 clrBr border zeroSupportedCurs">
            <div class="center"><%= ob.polyT('wallet.zeroSupportedCurs') %></div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
